<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <%- include ("./partials/bootstrap.css.ejs") %>
    <title>TODO</title>
</head>

<body>

    <div class="container">

        <h1>TODO</h1>
        
        <div class="form-container">
            <form id="form" action="/create" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control" id="createTask" aria-describedby="createTask" name="createTask" placeholder="Add a task to do...">
                </div>
                <button type="submit" class="btn btn-primary input-group-text">Add</button>
            </form>
        </div>

        <% tasks.forEach(task => { %>
                <div class="task">
                    <hr class="solid">
                    <h4><%= task.taskName %></h4>
                    <param name="objectId" value="<%= task._id %>">
                    <form action="/delete/" method="POST">
                        <button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
                    </form>
                </div>
        <% }) %>

    </div>

    <%- include ("./partials/bootstrap.js.ejs") %>
    <script src="js/script.js"></script>
</body>

</html>