<div class="card-container">
    <div class="card" style="width: 300%; margin-bottom: 10px">
        <div class="card-body">
            <h5 class="card-title" name="card-title">Card title</h5>
            <hr class="solid">
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <span>Mark as complete</span>
            </h6>&nbsp;&nbsp;<input type="checkbox" class="checkbox">
            <br>
            <br>
            <a href="#" class="card-link">
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
        </div>
    </div>
</div>